@import "bootstrap/dist/css/bootstrap.min.css";
@import "formiojs/dist/formio.full.min.css";
@import "tailwindcss";

html {
  height: 100%;
}

body {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}
